{% load widget_tweaks %}


<div id="{{ form.zip_file.auto_id }}_non_field_errors" class="form-text text-danger">
    {{ form.non_field_errors }}
</div>

<div class="mb-3">

    {% comment %} 
        zip_file Field Start --------------------------
    {% endcomment %}

    <label for="{{ form.zip_file.id_for_label }}" class="form-label">{{ form.zip_file.label }}:</label>
    {{ form.zip_file|add_class:"form-control"|attr:"accept:.zip" }}

    <div id="{{ form.zip_file.auto_id }}_helptext" class="form-text">
        {{ form.zip_file.help_text }}
    </div>

    <div id="{{ form.zip_file.auto_id }}_errors" class="form-text text-danger">
        {{ form.zip_file.errors }}
    </div>

    {% comment %} 
        zip_file Field End --------------------------
    {% endcomment %}

</div>
